//CSS for class "learn-more-cards"
@mixin overlay-styling{
    position: absolute;
    padding: 1rem;
    font-size: 1.35rem;
    font-weight: 200;
    color:  white;
    background-color: rgba(0,0,0,0.5);
}

@mixin button-style {  
.story-button{
    padding: 5px 25px;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 5.5px;
  }
  .button-square{
    padding: 5px 25px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5.5px;
  }
}
    
body{
    margin:0;
}
.learn-more-cards h2{
    font-weight:400;
    margin-bottom: -25px;
}

.our-story-section h2{
    font-weight: 600;
}


.learn-more-cards a{
    font-weight:300;
}


.learn-more-cards{
    position: relative;
    margin: 0;
    padding: 0;
}

.learn-more-cards img,.our-story-section img{
    display: block;
    width: 100%;
    height: auto;
}


.overlay-content.primary{
    height: 45.2%;
    width: 90%;
    top: -1px;
    @include overlay-styling();
}

.overlay-content.secondary{
    height: 45.75%;
    width: 90%;
    top: 50%;
    @include overlay-styling();
}

@include button-style();
.our-story-section{
    position: relative;
}
.story-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 4px;
    bottom: 0px;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;

    h2{
        font-size: 2.25rem;
        line-height: 0.5rem;
        top: 17px;
        position: absolute;
    }
    p{
        font-size: 1rem;
    }
}

@media(min-width:320px){


.overlay-content.primary{
    height: 45.45%;
    width: 90.5%;
    top: -1px;
    @include overlay-styling();
}

.overlay-content.secondary{
    height: 45.45%;
    width: 90.5%;
    top: 50%;
    @include overlay-styling();
}
@include button-style();
.our-story-section{
    position: relative;
}
.story-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 4px;
    bottom: 0px;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;

    p{
        margin-top: 4rem;
        font-size: 20.95px;
    }
}

}
@media(min-width:480px){
  .overlay-content {
    position: absolute;
    right: 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 200;
    color:  white;
    background-color: rgba(0,0,0,0.5);
    }

    .overlay-content.primary{
        font-size: 1.2rem;
        top: 32px;
        height: 30.5%;
        width: 42%;
    
    }
    .overlay-content.secondary{
        font-size: 1.2rem;
        top: 57%;
        height: 29.4%;
        width: 41%;
    }

    .our-story-section{
        position: relative;
    }
    .story-content{
        position: absolute;
        right:0;
        font-weight: 200;
        color:  white;
        text-align: center;

        p{
            padding: 0 2rem 0 2rem;
            font-size: 1.25rem;
        }
    }
  
    @include button-style();

}

@media(min-width:760px){

    .overlay-content {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        right: 0;
        padding: 1rem;
        font-size: 2rem;
        font-weight: 200;
        color:  white;
        background-color: rgba(0,0,0,0.5);

       h2{
            top: 13px;
            position: absolute;
        }
        p{
            margin-top: -40px;
        }
        }
        .overlay-content.primary{
            top: 94px;
            height: 25%;
            width: 37%;
            padding: 26px;
        }
        .overlay-content.secondary{
            top:59%;
            height: 25%;
            width: 36%;
            padding: 26px;
        }
    
        @include button-style();
    .our-story-section{
        position: relative;
    }
    .story-content{
        position: absolute;
        right: 0;
        left: 0;
        bottom:39%;
        color: white;
        background-color: transparent;
        text-align: center;

        p{
            padding: 6rem 13rem 0 13rem;
          font-size: 1.25rem;
          font-weight:400 ;
        }
        }
    
    }

    @media(min-width:1024px){

        .overlay-content {
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            right: 0;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 200;
            color:  white;
            background-color: rgba(0,0,0,0.5);
    
           h2{
                top: 13px;
                position: absolute;
            }
            p{
                margin-top: -40px;
            }
            }
            .overlay-content.primary{
                top: 94px;
                height: 20%;
                width: 37%;
                padding: 26px;
            }
            .overlay-content.secondary{
                top:59%;
                height: 20%;
                width: 36%;
                padding: 26px;
            }
        
    }