 /*News Carousel Slide Show */
 

.slideshow-carousel-showcase{
    .slide_wrapper {
        position: relative;
        width: 100%;
      }
      
      .slide_inner {
        display:flex;
        justify-content: center;
        min-height: 27vh;
        position: relative;
        width:100%;
        height:auto;
      }
      
    .slick-slide img {
      width: 100%;
    }

      .slide_holder:focus {
        outline: none;
      }
      
      [class^="slide_content"] {
        display: none;
        
        .showcase-button {
          text-align: center;
          white-space: nowrap;
          width: fit-content;
          height: 2rem;
          margin: 5%;
          padding: 5px 10px;
          border-radius: 5px;
          border: 0;
          color: white;
          background-color: rgb(255, 136, 0);
          margin: 0;
        }
      }
      
      .container h2 {
        font-family: 'Poppins', sans-serif;
      }


    /*Arrow Keys for carousel */
    span.arrow { 
        display: block;
        width:  1.5rem;
        height: 1.5rem;
        border: 0.5rem solid rgb(255, 145, 0);
        border-bottom: 0;
        border-left: 0;
        border-radius: 4px;
        z-index: 1;
        top: 50%;
        cursor: pointer;
        position: absolute;
        opacity: 1;

      }
      
      .slider_wrapper:hover span.arrow {
        opacity: .5;
      }
      
      .slider_wrapper:hover span.arrow:hover {
        opacity: 1;
      }
      
      span.arrow.nexty {
        right: 40px;
        transform:(rotate(45deg));
      }
      
      span.arrow.prev {
        left: 40px;
        transform: rotate(225deg);
      }
      
      .slider_wrapper {
        position: relative;
        padding: 0 30px;
      }
      nav img {
        display: none;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 35px;
      }
      
      .mobile-menu {
        margin-left: 0;
      }

    .slick-list{
        z-index: -1;
      }

    .slick-dots {
      display: flex;
      justify-content: center;
      list-style-type: none;
        margin-top: -50px;
        margin-bottom: 50px;
        z-index: 1;
        gap:6px;
        padding: 0;

        li {
          margin: 0 0.25rem;
        }
        button {
          display: block;
          width: 0.8rem;
          height: 0.8rem;
          padding: 5px;
          border: none;
          border-radius: 100%;
          background-color: rgba(255, 102, 0, 0.315);			
          text-indent: -9999px;  
        }
      
        li.slick-active button {
                background-color: rgb(255, 123, 0);

        }
      }

      @media screen and (min-width: 680px) and (max-width: 840px){           
        .slide_content-banner-1 {
          width: 350px;
          height: 165px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          

          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }

        .slide_content-banner-2 {
          width: 350px;
          height: 180px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          

          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }

        .slide_content-banner-3 {
          width: 350px;
          height: 210px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          

          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }

        .slide_content-banner-7 {
          width: 350px;
          height: 170px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          

          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }
      }

      @media screen and (min-width: 840px) and (max-width: 1024px){
        .slide_content-banner-1 {
          width: 350px;
          height: 175px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2.5em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }
        .slide_content-banner-2 {
          width: 350px;
          height: 200px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2.5em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }

        .slide_content-banner-3 {
          width: 350px;
          height: 250px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2.5em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }

        .slide_content-banner-7 {
          width: 350px;
          height: 230px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 900;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2.5em;
          }

          p {
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 300;
            color: rgb(95, 95, 95);
          }
        }
      }

      @media screen and (min-width: 1024px) and (max-width: 1130px) {
        .slide_content-banner-1 {
          width: 450px;
          height: 275px;
          display: block;
          position: absolute;
          top: 8%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2.8em;
            width:50%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.0em;
            font-weight: 350;
            color: rgb(95, 95, 95);
            width:80%
          }
        }
        .slide_content-banner-2 {
          width: 450px;
          height: 260px;
          display: block;
          position: absolute;
          top: 6%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 1.2rem;
            font-size: 2.8em;
            width:75%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.0em;
            font-weight: 350;
            color: rgb(95, 95, 95);
            width:80%
          }
        }

        .slide_content-banner-3 {
          width: 430px;
          height: 330px;
          display: block;
          position: absolute;
          top: 6%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 1.2rem;
            font-size: 2.8em;
            width:75%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.0em;
            font-weight: 350;
            color: rgb(95, 95, 95);
            width:80%
          }
        }

        .slide_content-banner-7 {
          width: 430px;
          height: 330px;
          display: block;
          position: absolute;
          top: 6%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 1.2rem;
            font-size: 2.8em;
            width:75%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.0em;
            font-weight: 350;
            color: rgb(95, 95, 95);
            width:80%
          }
        }
      }

      @media screen and (min-width: 1130px){
        .slide_content-banner-1 {
          width: 565px;
          height: 260px;
          display: block;
          position: absolute;
          top: 5%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2.8em;
            width:100%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.4em;
            font-weight: 300;
            color: rgb(95, 95, 95);
            width:70%
          }
        }

        .slide_content-banner-2 {
          width: 565px;
          height: 260px;
          display: block;
          position: absolute;
          top: 5%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: 2.8em;
            width:100%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.4em;
            font-weight: 300;
            color: rgb(95, 95, 95);
            width:70%
          }
        }

        .slide_content-banner-3 {
          width: 565px;
          height: 340px;
          display: block;
          position: absolute;
          top: 5%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 1.5rem;
            font-size: 2.8em;
            width:100%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.4em;
            font-weight: 300;
            color: rgb(95, 95, 95);
            width:70%
          }
        }

        .slide_content-banner-7 {
          width: 565px;
          height: 340px;
          display: block;
          position: absolute;
          top: 5%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.603);
          padding: 1rem; 
          padding-left: 2rem;
          
          h1 {
            font-weight: 800;
            color: rgb(95, 95, 95);
            margin-bottom: 0;
            margin-top: 1.5rem;
            font-size: 2.8em;
            width:100%;
            line-height:100%;
          }

          p {
            margin-top: 5px;
            font-size: 2.4em;
            font-weight: 300;
            color: rgb(95, 95, 95);
            width:70%
          }
        }

      }


}

