//CSS for class "slideshow-carousel-shop-by"

.slideshow-carousel-shop-by {
  padding: 0;
  margin: 0;
  .arrow {
    display: none;
  }
  h1 {
    text-align: left;
  }
  .wrapper {
    display: flex;

    justify-content: center;

    .slick-slideshow {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
      max-width: 215px;
      li {
        text-align: center;
        width: calc(50% - 5px);

        padding: 0;
        list-style: none;

        .slide {
          position: relative;
          border-radius: 50%;
        }
        img,
        h2 {
          margin: 0 auto;
          border-radius: 50%;
          // width: 50%;
          // height: auto;
          width: 100px;
          height: 100px;
        }
        h2 {
          display: flex;
          position: absolute;
          justify-content: center;
          top: 49%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 13px;
          font-weight: bold;
          background-color: rgb(0, 0, 0, 0.3);
          align-items: center;
        }
      }
    }
  }
}
@media (min-width: 450px) {
  .slideshow-carousel-shop-by {
    max-width: 78%;
    left: 5%;
    position: relative;

    h1 {
      text-align: center;
    }
    .wrapper {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: inherit;

      .slick-slideshow {
        max-width: 100%;
        // column-count: 1;
        left: 6%;

        li {
          img,
          h2 {
            width: 130px;
            height: 130px;
          }
          h2 {
            left: 50%;
            font-size: 15px;
          }
        }
      }

      .arrow {
        border: 10px solid rgb(255, 145, 0);
        display: block;
        padding: 8px;
        width: 25px;
        height: 25px;
        border-bottom: 0;
        border-right: 0;
        position: absolute;
        //  top:227%;
      }

      .arrow.next {
        right: -12%;
        transform: rotate(135deg);
      }

      .arrow.previous {
        // left: 120px;
        transform: rotate(-45deg);
      }
    }
  }
}
